.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}

header{
    font-family: 'Pacifico', cursive;
}

#crystal{
    font-family: 'Pacifico', cursive;
}

#hang{
   
    font-family: 'Exo 2', sans-serif;

}